/**
 * CSS files with the .module.css suffix will be treated as CSS modules
 * and scoped locally.
 */

:global(html.homePage main.container) {
  margin: 0;
  padding: 0;
  max-width: none;
}

:global(html.homePage article) {
  margin: 0;
}

:global(html.homePage),
:global(html.homePage body) {
  overflow-x: hidden;
}

.page {
  width: 100%;
}
